@import 'colors';
@import 'mixin';
@import 'grid';
@import 'reset';


body {
    background-color: #353b43; 
    font-family: 'anaheim'
}

header{
   
    background-image: url(http://demo.themefisher.com/meghna/images/banner/hero-area.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-color: #00000096;
    background-blend-mode: color;
    .container {
        height:100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 70px;
            color: #fff;
            text-transform: capitalize;
            font-weight: 600;
            margin-bottom: 20px;
            }
        
            p{color: #fff;
            font-size: 20px;
            width: 70%;
            margin: 0 auto;}
            }

            
            .video-btn {
        a {
            background: #fff;
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    line-height: 60px;
    font-size: 20px;
    margin-left: 3px;
    color: #57cbcc;
        }
    }
    .btn {margin-top: 40px;
    border-color: #fff;
    padding: 14px 50px;
    font-size: 18px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;

     &:hover {
        background-color: #53fafd;
        border: 1px solid transparent;
        color: #fff;
     }

    }
    }

    .nav-link 
    {
        color: rgba(255, 255, 255, 0.7)!important;
        transition: all .3s ease-in 0s;
        &:hover{
            color: #57cbcc!important;
            }
    }
    
   

    
 
    
    



.team-member {
  
box-sizing: border-box;
padding: 0;
background-color: #292F36;
color: gray;
border-radius: 0px;


.card-img-top{
     border-radius: 0;
     
    }

    .team-img{
        position: relative;
        overflow: hidden;

        img {
            max-width: 100%;
        }
    }

.mask {
    background-color: rgba(87, 203, 204, 0.7);
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all .5s ease-out 0s; 
    
        transform: rotateY(180deg)  ;
    

    a{  border: 1px solid #fff;
        color: #fff;
        display: block;
        font-size: 20px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        width: 35px;
        margin:5px;
    }
   
   
}


}

.team-member:hover {
    .mask{
        opacity: 1;
        transform: rotateY(0)  ;
      
    }

    img {
        transform: scale(1.2);
      
    }
}
